<div class="container" id="edit-container">

  <h1>Edit <%= @pet.pretty_name_pet %></h1>
    <hr/>

  <form action="/pets/<%=@pet.id %>" method="post">
    <label for="name" >Name</label>
    <input type="text" name="name" value="<%=@pet.name%>">
    <hr/>
    <label for="nickname">Nickname</label>
    <input type="text" name="nickname" value="<%=@pet.nickname%>">
    <hr/>
    <label for="age">Age</label>
    <input type="number" name="age" value="<%=@pet.age%>">
    <hr/>
    <label for="admission_date" >Admission Date</label>
    <input type="text" name="admission_date" value="<%=@pet.admission_date%>">
    <hr/>
    <label for="adoptability" >Adoptability</label>
    <select name="adoptability" value="<%=@pet.adoptability%>">
      <option value="Yes">Yes</option>
      <option value="No">No</option>
    </select>
    <hr/>
    <label for="species" >Species</label>
    <select name ="species" id="species-selection" value="<%=@pet.species%>">
      <option value="Dogs">Dogs</option>
      <option value="Cats">Cats</option>
      <option value="Exotic Animals">Exotic Animals</option>
    </select>
    <hr/>
    <label for="breed" >Breed</label>
    <input type="text" name="breed" value="<%=@pet.breed%>">
    <hr/>
    <label for="owner_id">Owner</label>
    <select name="owner_id" value="<%=@pet.owner_id%>">
      <% for owner in @owners %>
      <option value="<%=owner.id%>"><%=owner.pretty_name_owner%></option>
      <%end %>
    </select>
    <hr/>
    <input type="submit" value="Save">
  </form>
</div>
