<div class="container" id="show-container">

  <h1><%= @pet.pretty_name_pet %></h1>

      <h3>Name: <%= @pet.name %></h3>
      <h3>Nickname: <%= @pet.nickname %></h3>
      <h3>Admission_date: <%= @pet.admission_date %></h3>
      <h3>Adoptability: <%= @pet.adoptability %></h3>
      <h3>Species: <%= @pet.species %></h3>
      <h3>Breed: <%= @pet.breed %></h3>
      <h3>Age: <%= @pet.age %></h3>
      <h3>Owner: <%= @pet.owner.pretty_name_owner %></h3>
      <hr/>
      <form class = "pet" action="/pets/<%=@pet.id%>/edit" method="GET">
        <input type="submit" value="Edit">
      </form>
      <form class = "pet" action="/pets/<%=@pet.id%>/delete" method="POST">
        <input type="submit" value="Delete">
      </form>
    </div>
