<h1>All the Owners</h1>
<h3 class="name">(Click on an owner name for details)</h3>
<hr />

  <% for owner in @owners %>
  <div class="owner-info" id="<%= owner.pretty_name_owner %>">

    <p>Name: <a class="name" href="/owners/<%=owner.id %>"> <%= owner.pretty_name_owner %></a></p>
    <p>Pets:
    <% for pet in owner.pets %>
    <a class="name" href="/pets/<%=pet.id %>"><%= pet.pretty_name_pet %></p>

    <% end %>

    <hr />
  </div>
  <% end %>
