<h1>All the Owners</h1>

<hr />
<div class="row">
  <p>(Click on an owner name for details)</p>
</div>
<div class="pet">

  <% for owner in @owners %>
  <div class="pet-info" id="<%= owner.pretty_name_owner %>">

    <p>Name: <a class="name" href="/owners/<%=owner.id %>"> <%= owner.pretty_name_owner %></a></p>
    <p>Pets: </p>
    <% for pet in owner.pets %>
    <a class="pet-name" href="/pets/<%=pet.id %>">
    <p><%= pet.pretty_name_pet %></p>

    <% end %>

    <hr />
  </div>
  <% end %>

</div>
