<div class="container" id="show-container">

  <h2>Name: <%= @owner.pretty_name_owner %></h2>
  <h2>Age: <%= @owner.age %></h2>
  <h2>Location: <%= @owner.location %></h2>

  <h2>Pets under care:</h2>
    <% for pet in @pets %>
    <p><a class="name" href="/pets/<%= pet.id %>"> <%= pet.pretty_name_pet %></a></p>
    <% end %>
<hr/>
    <form action="/owners/<%=@owner.id%>/edit" method="GET">
      <input type="submit" value="Edit">
    </form>

    <form action="/owners/<%=@owner.id%>/delete" method="POST">
      <input type="submit" value="Delete">
    </form>



</div>
